/* src/index.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.todo span {
  margin: 0 10px;
}

button {
  margin-left: 10px;
}

form {
  margin-bottom: 20px;
}
